body{
    background-color: black;
    color: white;
}
button{
    background-color: rgb(69, 70, 62);
    border: none;
    font-weight: 250;
    padding: 10px;
    border-radius: 10px;
}
.btn:hover{
    scale: 2;
    border:6px solid white;
}